.dialog_name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog_name a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 15px;
}

a:hover {
  color: rgb(142, 203, 80);
}
