.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogs_names {
	padding: 10px;
}


.active {
	color: rgb(142, 203, 80);
}

.messages {
	padding: 10px;
}

.wrapAddMessage {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	position: relative;
}

.btn {
	width: 120px;
	padding: 7px 12px;
	margin-left: 15px;
}
.errorText {
	color: red;
	position: absolute;
	bottom: -20px;
	left: 20px;
}