.App {
  padding: 20px 50px;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "navbar profile";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.profile {
  background-color: #d2ecfb;
}