.formBlock {

  span {

  }

  input {
    max-width: 250px;
    height: 30px;
    display: inline-block;
    margin-bottom: 20px;
  }

  .wrapBtn {
    display: inline-block;
    margin-bottom: 20px;

  }
}

